<!-- star rating -->
<div class="relative mt-3 mb-2">
  <!-- star filled -->
  <div class="absolute flex flex-row gap-1.25 w-4.5 mt-[2.5px]">
    <img class="" src="./assets/images/icons/starF.png" alt="" />
    <img class="" src="./assets/images/icons/starF.png" alt="" />
    <img class="" src="./assets/images/icons/starF.png" alt="" />
    <img class="" src="./assets/images/icons/starF.png" alt="" />
    <img class="invisible" src="./assets/images/icons/starF.png" alt="" />
  </div>
  <!-- star empty -->
  <div class="absolute flex flex-row gap-1.25 w-4.5 mt-[2.5px]">
    <img class="invisible" src="./assets/images/icons/starE.png" alt="" />
    <img class="invisible" src="./assets/images/icons/starE.png" alt="" />
    <img class="invisible" src="./assets/images/icons/starE.png" alt="" />
    <img class="invisible" src="./assets/images/icons/starE.png" alt="" />
    <img class="" src="./assets/images/icons/starE.png" alt="" />
  </div>
  <span class="ml-30">(1,6k)</span>
</div>
