@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,300..700;1,300..700&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&family=Satisfy&display=swap");

@theme {
  /* colors */
  --color-*: initial;
  --color-auburn: #9e2a2b;
  --color-burntSienna: #e2725b;
  --color-paleDogwood: #f2d3c4;
  --color-mintCream: #f4fffd;
  --color-charcoal: #253d44;
  --color-jet: #2d2d2d;
  --color-white: #fff;
  /* fonts */
  --font-rosario: "Rosario", sans-serif;
  --font-sansita: "Sansita", sans-serif;
  --font-satisfy: "Satisfy", sans-serif;
}
